@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/JBM-Thin.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/JBM-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/JBM-Light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/JBM-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/JBM-Medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/JBM-Bold.ttf') format('truetype');
}
